/* CSS変数定義 */
:root {
    --primary-bg: #D1CAC4;
    --secondary-color: #091138;
    --primary-color: #D1CAC4;
    --secondary-color: #091138;
    --padding-default: 24px;
    --padding-narrow: 12px;
}

/* bodyリセット */
body{
    margin: 0px;
}
img{
    width: 100%;
}

/* header */
header {
    color: var(--primary-color);
    background-color: var(--primary-bg);
}

/* main */

main #about-me-text{
    color: var(--secondary-color);
    background-color: var(--secondary-bg);
}

